####################################
#### Server & DB Configurations ####
####################################

# Cache Configs
CACHE_STORE=database # Defaults to database. Other available cache store: redis and filesystem
CACHE_DIR=./data/cache # Directory to store the cache files if using filesystem cache
REDIS_URL=           # Redis URL - could be a local redis instance or cloud hosted redis. Also support rediss:// URLs
PGLITE_DATA_DIR=     #../pgLite/ if selecting a directory   --- or memory:// if selecting in memory

# Eliza Server & Port Config
SERVER_URL=http://localhost
SERVER_PORT=3000

# Stores characters set by using the direct API in the data/character folder for further load when the app restarts
USE_CHARACTER_STORAGE=false

# Logging
DEFAULT_LOG_LEVEL=info
LOG_JSON_FORMAT=false            # Print everything in logger as json; false by default

###############################
#### Client Configurations ####
###############################

# Twitter/X Configuration
TWITTER_DRY_RUN=false
TWITTER_USERNAME= # Account username
TWITTER_PASSWORD= # Account password
TWITTER_EMAIL= # Account email
TWITTER_2FA_SECRET=
TWITTER_REFLECT_MODE=true    # Enable reflection mode to let the AI decide whether to post
TWITTER_USE_DEFAULT_REFLECTIONS=false # Enable build in reflection provider and evaluator

# Authentication cookies for Twitter session (this is for login using cookies and is optional)
TWITTER_COOKIES_AUTH_TOKEN=
TWITTER_COOKIES_CT0=
TWITTER_COOKIES_GUEST_ID=

TWITTER_POLL_INTERVAL=120   # How often (in seconds) the bot should check for interactions
TWITTER_SEARCH_ENABLE=FALSE # Enable timeline search, WARNING this greatly increases your chance of getting banned
TWITTER_TARGET_USERS=       # Comma separated list of Twitter user names to interact with
TWITTER_RETRY_LIMIT=        # Maximum retry attempts for Twitter login
TWITTER_SPACES_ENABLE=false # Enable or disable Twitter Spaces logic
ENABLE_TWITTER_POST_GENERATION=true # Set to true to enable automatic tweet generation. If false, the bot will not generate or post tweets.
# Post Interval Settings (in minutes)
POST_INTERVAL_MIN= # Default: 90
POST_INTERVAL_MAX= # Default: 180
POST_IMMEDIATELY=  # Default: false
# Twitter action processing configuration
ACTION_INTERVAL=               # Interval in minutes between action processing runs (default: 5 minutes)
ENABLE_ACTION_PROCESSING=false # Set to true to enable the action processing loop
MAX_ACTIONS_PROCESSING=1       # Maximum number of actions (e.g., retweets, likes) to process in a single cycle. Helps prevent excessive or uncontrolled actions.
ACTION_TIMELINE_TYPE=foryou    # Type of timeline to interact with. Options: "foryou" or "following". Default: "foryou"
# CONFIGURATION FOR APPROVING TWEETS BEFORE IT GETS POSTED
TWITTER_APPROVAL_DISCORD_CHANNEL_ID=  # Channel ID for the Discord bot to listen and send approval messages
TWITTER_APPROVAL_DISCORD_BOT_TOKEN=   # Discord bot token (this could be a different bot token from DISCORD_API_TOKEN)
TWITTER_APPROVAL_ENABLED=             # Enable or disable Twitter approval logic #Default is false
TWITTER_APPROVAL_CHECK_INTERVAL=60000 # Default: 60 seconds

#######################################
#### Model Provider Configurations ####
#######################################

# OpenRouter Configuration
OPENROUTER_API_KEY= # OpenRouter API Key
OPENROUTER_MODEL=x-ai/grok-3-beta   # Default: uses hermes 70b/405b
SMALL_OPENROUTER_MODEL=x-ai/grok-3-mini-beta
MEDIUM_OPENROUTER_MODEL=x-ai/grok-3-beta
LARGE_OPENROUTER_MODEL=x-ai/grok-3-beta

# Teesa Configuration
TEESA_URL=  # The base URL of Teesa